# Ignore Python virtual environment
.venv/

# Ignore model checkpoints
models/
outputs/
checkpoints/

# Ignore dataset cache
__pycache__/
*.pyc

# Ignore Jupyter notebook cache
.ipynb_checkpoints/

# Ignore OS files
.DS_Store

# Ignore HuggingFace cache
.cache/
